* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 2em;
    max-width: 250px;
    min-width: 250px;
    transition: all .2s ease-in-out;

}

aside.close {
    min-width: 110px;
    max-width: 110px;
    padding: 2em 0.5em;
}

aside.close .span-links{
    display: none;
}

@media (max-width: 1024px) {
    aside.open .span-links{
        display: none;
    }
    aside.open {
        min-width: 110px;
        max-width: 110px;
        padding: 2em 0.5em;
    }
    aside.open .title-aside {
        width: 50px;
        padding: 0;
    }
    .menu {
        display: none;
    }
    aside.open .nav-aside.false {
        opacity: 0;
    }
    
    aside.open .nav-aside {
        opacity: 10;
    }
    aside.open .logout-span {
        display: none;
    }

    aside.open .h1-aside {
        display: none;
    }
    aside.open .title-aside img {
        display: block;
    }
}

.title-aside img {
    width: 100%;
    object-fit: cover;
}

.span-links {
    font-weight: 600;
}

.title-aside {
    width: 100%;
    padding: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.title-aside h1 {
    text-overflow: ellipsis;
}

aside.close .title-aside {
    width: 50px;
    padding: 0;

}

aside.close .title-aside h1 {
    display: none;
}

aside.open .title-aside img {
    display: none;
}

.container-aside-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.container-aside-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.organize {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.ul-aside {
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style: none;
}

.li-nav-aside {
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;
}


.links-nav-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: black;
    text-decoration: none;
    padding: 1em;
}

.links-nav-aside.active {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.links-nav-aside svg {
    color: #00BF9C;
    font-size: 1.5em;
}


.container-img-aside {
    width: 50px;
    height: 50px;
    background-color: rgb(222, 222, 222);
    border-radius: 50%;
    object-fit: cover;
}

.container-img-aside img {
    width: 100%;
    object-fit: cover;
}

.container-buttom-leave {
    padding: 0.8em;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s;
    margin-left: 5px;
    text-align: center;
    background-color: rgb(255, 93, 93);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.9em;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

.logout-span {
    text-overflow: ellipsis;
}

.container-buttom-leave:hover {
    background-color: rgb(255, 45, 45);
}

.container-aside-img-rol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu {
    width: auto;
    padding: 7px;
    cursor: pointer;
}

.nav-aside.false {
    display: none;
}

aside.close .nav-aside.false {
    opacity: 0;
}

aside.close .nav-aside {
    opacity: 10;
}

aside.close .logout-span {
    display: none;
}

